
<div class="inputfield">
  <div class="element">Name : <input type="text" placeholder="userName" /></div>
  <div class="element">email: <input type="email" placeholder="enter your email" /></div>
  <div class="element">phone: <input type="number" placeholder="enter your phone" /></div>

  
  <div class="element">
  <div class="share_fm_dl" id="attachment_poi"></div>

 <div class="parent">
  
 </div>
</div>
</div> 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>